*{
    margin: auto;
}

ol, ul {
    list-style: none;
}

body {
    background-color: lightcoral;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

div {
    background-color: lightcoral;
    color:darkblue;
}


/* .whole-site-div {
    margin: 10px;
} */


.top-div {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

@media (min-width: 600px) {
    .top-div {
        width: 800px;
    }   
}


.nav-div {
    color: dimgray;
    position: relative;
    margin: 5px;
}

.header-div {
    position: relative;
    left: 6%;
}



.body-div {
    display: flex;
    flex-direction: row;
    text-align: center;
}




.home-text-div {
    background-color: darkblue;
    color: gold;
    font-weight: bold;
    position: absolute;
    padding: 15px;
    width: 30%;
    text-align: justify;
    z-index: 1;
    opacity: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}


.big-image {
    width: 100%;
    position: relative;
}



img {
    width: 150px;
}

input, select {
    margin: 5px;
}


.search-and-sort-div {
    display: flex;
    flex-direction: column;
}

.search-div, .sort-div {
    display: flex;
    flex-direction: row;
}

.fetch-div {
    display: flex;
    flex-wrap: wrap;
    
}

.fetched-pokemon-div {
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
    width: min-content;
    height: 425px;
    
}





/* .search-input-div, .sort-select-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    padding: 1px;
} */


/* .search-text-div, .sort-text-div {
    margin: 5px;
    padding: 2px;
} */


/* 
.pokemon-div {
    float: left;
    width: min-content;
    height: 450px;
    margin: 10px;
    border: solid black;
}
 */


/* button {
    margin: 0px;
    position: relative;
    transform: translate(27%, -10%);
} */