body {
    background-color: lightcoral;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

div {
    background-color: lightcoral;
    color:darkblue;
    padding: 2px;
}


.whole-site-div {
    border: solid red 10px;
    margin: 40px;
    float: rigth;
}




.top-div {
    display: flex;
    flex-direction: row;
    border: sandybrown solid 5px;
}

.nav-div {
    color: dimgray;
    position: absolute;
    margin: 10px;
    border: dotted purple 3px;
}

.header-div {
    position: relative;
    left: 35%;
    border: dotted lightgreen 3px;
}

.title-div {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.intro-div {
    text-align: center;
    margin: 10px;
}

.body-div {
    display: flex;
    flex-direction: row;
    border: dotted brown 3px;
}

.sidebar-div {
    display: flex;
    flex-direction: column;
    border: solid black;
}


.search-div, .sort-div {
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 170px;
    margin: 20px;
    padding: 20px;
    border: dotted fuchsia 3px;
}

.home-div {
    border: solid silver 5px;
}

.home-sub-div {
    margin: 10px;
    padding: 5px;
    border: dotted gold 2px;
}




.pokemon-div {
    float: left;
    width: min-content;
    height: 450px;
    margin: 10px;
    border: solid black;
}


.search-text-div, .sort-text-div {
    margin: 5px;
    padding: 2px;
}

.search-input-div, .sort-select-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    padding: 1px;
}

img {
    width: 150px;
}

input, select {
    margin: 5px;
}

button {
    margin: 0px;
    position: relative;
    transform: translate(27%, -10%);
}